*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none;
}

body{
	overflow-x: hidden;
}

section{
	min-height: 100vh;
	background-color: rgb(59, 60, 62);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(240, 184, 184);
	font-size: 34px;
}

.custom_cursor{
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	border-radius: 50px;
	transform: translate(-50%, -50%);
	pointer-events: none;

	&::after{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(188, 91, 91, 0.718);
		height: 10px;
		width: 10px;
		border-radius: 50px
	}

	&::before{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgb(21, 21, 21);
		height: 10px;
		width: 10px;
		border-radius: 50px
	}

	&::before{
		background-color: rgb(6, 6, 6);
	}

	&.click::before{
		animation: click 1s ease  forwards;
		background-color: rgb(0, 0, 0);
	}
}

@keyframes click{
 0%{
    opacity: 1;
    transform:translate(-50%, -50%) scale(1);
 }
 100%{
    opacity: 0;
    transform: translate(-50%, -50%) scale(7);
 }
}